{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="https://github.com/jeblister/kube/releases" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">Download</a> <a class="button outline big" href="https://tfsemea1.ta.philips.com/tfs/TPC_Region11/Edge%20Device/_git/HSOP_Pre_2.0_IaC/" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);">View on Git</a>
    <p>Zip-archive, includes all the source and site example files</p>
  </div>
  <div class="message focus" data-component="message"> <span class="close small"></span>
    <a class="button inverted small " href="https://hsop.io" >HSOP is an awesome IaC Framework in the works to enable Philips community on the on-premise Hypervisor of Choice with all core service goodies thrown in!
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Baseline" height="48" src="{{ "/img/kube/icon-baseline.png" | relURL }}" width="48">
        </figure>
        <h3>Hypervisor Agnostic</h3>
        <p>Standard Integrated Tooling.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Typography" height="48" src="{{ "/img/kube/icon-typo.png" | relURL }}" width="48">
        </figure>
        <h3>Simple to use</h3>
        <p>Options for Software Installs only</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure>
        <h3>Pluggability</h3>
        <p>We strongly believe in pluggable minimalism as a general concept as well as a practical approach.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>Contract-first Design</h4>
        <p>Every element strives to follow contract-first and fully embraces idempotency and immutability</p>
      </div>
      <div class="col col-4 item">
        <h4>Standard API & IAM</h4>
        <p>Well Defined Entry points with Identity Access Management for API Usage</p>
      </div>
      <div class="col col-4 item">
        <h4>License</h4>
        <p>Kube Theme licensed under <a href="https://opensource.org/licenses/MIT">MIT</a></p>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
